In [1]:
import rasterio
import os
import pandas as pd
import glob

C:\Users\ADMIN\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\ADMIN\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
input_dir = "./data_new/"
input_files = sorted(glob.glob(os.path.join(input_dir, '*.tif')))
# print(input_files)

In [3]:
columns = ['left', 'right', 'top', 'bottom', 'name']
df = pd.DataFrame(columns=columns)

In [4]:
for sar_image_path_tif in input_files:

    with rasterio.open(sar_image_path_tif) as src:
        left, bottom, right, top = src.bounds
        new_row = {"left":left, "right":right, "top":top, "bottom":bottom, 'name':sar_image_path_tif.replace('./data_new\\','').replace('.tif','')}
        df.loc[len(df)] = new_row
        # print(left, bottom, right, top)

In [5]:
df.head(5)

        left      right       top    bottom  name
0 -63.210069 -63.164075 -0.532219 -0.578213     0
1 -63.210069 -63.164075 -0.624207 -0.670200     1
2 -63.118081 -63.072088 -0.756439 -0.802432    10
3 -68.345915 -68.299921 -1.721485 -1.767479   100
4 -47.617107 -47.571114 -7.515471 -7.561465  1000

In [6]:
df.to_csv("Coordinates_GEE.csv", index=False)